p,
li,
h1 {
  color: red;
  width: 500px;
}

html {
  font-size: 10px;
  font-family: "roboto slab", serif;
  background-color: #7cbfbf;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #0c0404;
  text-shadow: 3px 3px 1 px white;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  widt: 600px;
  margin: 0 auto;
  background-color: #7cbfbf;
  padding: 0 20px 20px 20px;
  border: 200px solid black;
}
